.filter-count { text-align: center; }
.wp-filter .search-form #plugin-search-input { display: none; }

.theme-browser .theme .theme-actions.add-ons-init { opacity: 1; }
.theme-browser .theme .theme-actions.add-ons-init .button { margin-right: 0; margin-left: 0; }
li.add-ons-item-hidden {display:none;}


/* adjust sizes for screenshots */
.theme-browser .theme .theme-screenshot:after { padding-top: 49% !important; }

.theme-browser.rendered .theme:hover .theme-screenshot img,
.theme-browser.rendered .theme:focus .theme-screenshot img {
	background: #e8e8e8;
	opacity: 0;
}

.theme-browser.rendered .theme:hover .theme-screenshot 
.theme-browser.rendered .theme:focus .theme-screenshot img {
	opacity: 0;
}

.theme-browser .theme .more-details-rf {
	opacity: 0;
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 0%;

	background: #e8e8e8;
	color: #000;

	/*font-size: 18px;*/
	/*height: 150px;*/
	overflow: hidden;

	/*font-weight: 600;*/
	padding: 0 12px;

	-webkit-transform: translateZ( 0 ); /* Prevents rendering bugs in Chrome */
	-webkit-transition: opacity 0.2s ease-in-out; /* Prevents rendering bugs in Chrome */
	transition: opacity 0.2s ease-in-out;	
}

/*@media only screen and (max-width: 1024px) {
	.theme-browser .theme .more-details-rf {
		height: 100px;
	}
}*/

/* hover over element */
.theme-browser .theme:focus .more-details-rf {
	opacity: 1;
}

.theme-browser.rendered .theme:hover .more-details-rf,
.theme-browser.rendered .theme:focus .more-details-rf {
	opacity: 1;
}

/* hover over element - actions container */
.theme-browser.rendered .theme:hover .theme-actions, 
.theme-browser.rendered .theme:focus .theme-actions {
	background: #F0F0F0;
}
.theme-browser.rendered .theme:hover .theme-actions .button-secondary, 
.theme-browser.rendered .theme:focus .theme-actions .button-secondary {
	background: #fff;
}

.white-gradient {
	position: relative;
}
.white-gradient:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(229,229,229,0) 75%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0)), color-stop(75%,rgba(229,229,229,0)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 75%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 75%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 75%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(229,229,229,0) 75%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dfdfdf', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
}

h3.white-gradient-left-right {
	position: relative;
}
h3.white-gradient-left-right:after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 100%;
	width: 100%;
	background: -moz-linear-gradient(left,  rgba(249,249,249,0) 0%, rgba(249,249,249,0) 57%, rgba(249,249,249,1) 77%, rgba(249,249,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,249,249,0)), color-stop(57%,rgba(249,249,249,0)), color-stop(77%,rgba(249,249,249,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,0) 57%,rgba(249,249,249,1) 77%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,0) 57%,rgba(249,249,249,1) 77%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,0) 57%,rgba(249,249,249,1) 77%,rgba(249,249,249,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(249,249,249,0) 0%,rgba(249,249,249,0) 57%,rgba(249,249,249,1) 77%,rgba(249,249,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
}

.theme-browser .theme .theme-name-rf {
	font-size: 15px;
	font-weight: 600;
	height: 18px;
	margin: 0;
	padding: 15px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #fff;
	background: rgba(255,255,255,0.65);
	/*border-top: 1px solid #e8e8e8;*/
}

.add-ons-installed-menu {
  background-color:#FFFFFF;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  
  width:180px;
  cursor:default;
  display:none;
  margin-top: 5px;
  position:absolute;
  text-align:left;
  z-index:50;
  padding: 5px 5px 5px 5px;
}

.add-ons-installed-menu ul li a {
	text-decoration:none;
}