

.edit-font-options-inner {
    background-color: #fafafa;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 8px 6px;
    
    width: 400px;
}

.toogle-font-select-container .settings-container {
    margin: 0;
    padding-bottom: 15px;
}


.toogle-font-select-container .settings-container .settings-title {
    line-height: 25px;
    width: 25%;
}

.toogle-font-select-container .settings-title-caption {
    color: #999;
}


.toogle-font-select-container .settings-container .settings-in {
    display: inline-block;
    float: right;
    width: 70%;
}


.toogle-font-select-container .settings-container .settings-in input[type=text], 
.toogle-font-select-container .settings-container .settings-in select, 
.toogle-font-select-container .settings-container .settings-in textarea {
    width: 100%;
}

.ui-dialog .ui-dialog-titlebar {
    top: -15px;
    margin-bottom: -20px;
}
.ui-dialog-title h2 {
    font-size: 24px;
    font-weight: 400;
    text-shadow: 2px 2px #fff;
}
.ui-dialog-titlebar-close {
    position: relative;
    top: -50px;
}
.ui-dialog {
    position: fixed;
}

.settings-dialog-inside {
    /*max-height: 630px;*/
    min-height: 50px;
}
.settings-dialog-modal {
    bottom: 40px;
    max-height: 400px;
}
.settings-dialog-modal .settings-font-options-dialog {
    bottom: 20px;
    left: 20px;
    position: absolute;
    right: 10px;
    top: 67px;
}